@mixin responsive($breakpoint){

    @if $breakpoint == mobile{
        @media only screen and (max-width: 576px){
            @content;
        }
    } @else if $breakpoint == small-mobile{
        @media only screen and (max-width:490px){
            @content;
        }
    } @else if $breakpoint == tablet{
        @media only screen and (max-width:829px){
            @content;
        }
    } @else if $breakpoint == laptop-big{
        @media only screen and (max-width:1634px){
            @content;
        }
    } @else if $breakpoint == laptop{
        @media only screen and (max-width:1366px){
            @content;
        }
    }  @else if $breakpoint == fullHD{
        @media only screen and (max-width:1920px){
            @content;
        }
    } @else if $breakpoint == 2k{
        @media only screen and (max-width:2560px){
            @content;
        }
    } 


}