.work{
    margin-top:121px;

    .container{

        .text-box{
           width: 100%;
           @include displayFlex(column, center, center);

         h1{
            font-family: montserat-bold;
            font-style: normal;
             font-weight: 700;
           font-size: 32px;
           line-height: 39px;
            color: #333333;
            margin-bottom: 20px;

         }
         p{
            font-family: montserat-light;
            font-style: normal;
            font-weight: 400;
              font-size: 20px;
              line-height: 24px;
             text-align: center;
              color: #666666;
              margin-bottom: 30px;

         }

        }

        .row{
            @include displayFlex(row, space-between, center);
 
            @include responsive(mobile){
                @include displayFlex(column,$align: center);
                flex-wrap: wrap;     
               }

            .box{
                width: 32%;
                @include responsive(tablet){
                    width: 100%;
                   }

                .title{
                    width: 100%;
                    @include displayFlex(column, center, center);
                     margin-top:65px;

                     @include responsive(mobile){
                      margin-top:40px;
                      margin-bottom: 20px;
                   }

                    h2{
                        font-family: montserat-bold;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 29px;
                        color: #333333;
                         margin-bottom: 10px;

                      @include responsive(tablet){
                        font-size: 20px;
                        line-height: 18px;
                       }
                      @include responsive(mobile){
                         font-size: 15px;

                      }

                    }
                    p{
                        font-family: montserat-light;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center; 
                        color: #666666;

                       @include responsive(tablet){
                        font-size: 13px;
                        line-height: 18px;
                        margin-bottom: 15px;
                       }

                    }

                }

                .work-box{
                    width: 100%;
                    height: fit-content;
                    position: relative;

                    @include responsive(tablet){
                        width: 100%;  
                        @include displayFlex(column, center, center);
                       }
    
                    img{
                        width: 100%;
                        border-radius: 3%;
                        @include responsive(tablet){
                            width: 80%;
                           }
                    }

                    .circle{
                       width: 90px;
                       height: 90px;
                       border-radius: 50%;
                       position: absolute;
                       bottom:-8.5%;
                       left:50%;
                       transform: translateX(-50%);
                       background: #FCFCFC;
                    }

                    .circle-2{
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                      position: absolute;
                      bottom:-5%;
                      left:50%;
                      transform: translateX(-50%);
                     background: #111111;

                     h1{
                        color:white;
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%, -50%);

                     }
    
                    }
    
                }

            }

            
            


        }
    }
}